body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
.my{
    font-size: x-small;
    position: relative;
    left: 50px;
    
}
.website {
    font-size: small;
    position: relative;
    left: 50px;
    bottom: 20px;
}
.heading {
    width: 100%;
    background-color: #7AB2D3;

}
.body{
    text-align: left;
    color: #4A628A;
    background-color: #DFF2EB;
    padding: 5px;
    position: relative;
    bottom: 17px;
    margin-bottom: -40px;
}
.profile{
    position: relative;
    left: 600px;
    bottom: 340px;
    filter: grayscale();
    object-fit: cover;
    width: 300px;
    height: 300px;
    clip-path: polygon(50% 0%, 100% 5%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.5s ease;

}
.name{
    position: relative;
    left: 10px;
    font-size: xx-large;
}
.my-socials{
    text-align: center;
    position: relative;
    bottom: 200px;
}
em{
    color: #7AB2D3;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    left: 370px;
    top: 20px;
}
li {
    margin-right: 90px;
}
.icons{
    width: 100%;
    height: 90px;
    background-color: white;
    position: relative;
    bottom: 200px;
}

p{
    font-size: 14px;
    line-height: 25px;
    color: #4a4a4a;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    bottom: 50px;
}
#a{
    text-decoration: none;
    color: #DFF2EB;
}
.name{
    cursor: pointer;
}
#title{
    cursor: pointer;
}